<%-include('header')%>
<div class="page-content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop">
      <h3 class="title">404 Error Not Found</h3>
      <p><a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">back to homepage</a></p>
    </div>
  </div>
</div>
<%-include('footer')%>