    </main>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">starter-electron-win7-x86</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="https://github.com/cikaldev/starter-electron-win7-x86">Github</a></li>
        </ul>
      </div>
    </footer>
  </div>
  <script src="/material.js"></script>
</body>
</html>