<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="description" content="starter-electron-win7-x86">
  <meta name="author" content="cikaldev">
  <meta name="geo.country" content="id">
  <meta name="geo.placename" content="Indonesia">
  <title>starter-electron-win7-x86</title>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#fcc400">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#fcc400">
  <meta name="apple-mobile-web-app-title" content="starter-electron-win7-x86">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/material.css">
  <style>
    .mdl-textfield__input { width: 100%; }
    .title {
      font-weight: bold;
      text-transform: uppercase;
    }
  </style>
</head>
<body>
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">starter-electron-win7-x86</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="/">Home</a>
          <a class="mdl-navigation__link" href="/about">About</a>
          <a class="mdl-navigation__link" href="/read">Guest</a>
          <a class="mdl-navigation__link" href="/license">License</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Navigation Menu</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/about">About</a>
        <a class="mdl-navigation__link" href="/read">Guest</a>
        <a class="mdl-navigation__link" href="/license">License</a>
      </nav>
    </div>
    <main class="mdl-layout__content">