<%-include('header')%>
<div class="page-content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop">
      <h3 class="title">Add new Guest</h3>
      <!-- Textfield with Floating Label -->
      <form action="/create" method="POST">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="name" required="">
          <label class="mdl-textfield__label" for="">Fullname</label>
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="phone" required="">
          <label class="mdl-textfield__label" for="">Phone Number</label>
          <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
        <p></p>
        <p>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button> &nbsp; <a href="/read" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Cancel</a>
        </p>
      </form>
    </div>
  </div>
</div>
<%-include('footer')%>