<%-include('header')%>
<div class="page-content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop">
      <h3 class="title"><%=title%></h3>
      <%-body%>
    </div>
  </div>
</div>
<%-include('footer')%>